<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Together</title>
</head>
<body>
    <a href="/my_band/{{one_band.user.id}}">My Bands</a | <a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
    <h1>Edit Band No. {{ one_band.id }}</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} 
    {% endif %} 
    {% endwith %}

    <form action="/band/update/{{ one_band.id }}" method="post">
        <p>Band Name:
            <input type="text" name="name" value="{{ one_band.name }}">
        </p>
        <p>Music Genre:
            <input type="text" name="genre" value="{{ one_band.genre }}">
        </p>
        <p>Home City:
            <input type="text" name="home_city" value="{{ one_band.home_city }}">
        </p>
        <input type="submit" value="Update Band">
    </form>

    
</body>
</html>